{% extends "base.html" %}

{% block title %} FlaskrNews {% endblock %}
{% block body %}

<table id="hnmain" class="main-table" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr style="height:10px">
        </tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0">
              
                  {% for post in post_list %}
                      <tr class='athing'>
                        <td align="right" valign="top" class="title">
                          <span class="rank">{{loop.index + ((page_num-1)*30)}}</span>
                        </td>
                        <td width="10">
                          
                        </td>
                        <td class="title">
                          <span class="deadmark"></span>
                          <a href="{{post.url}}" target="_blank">{{post.title}}</a>
                          <span class="sitebit comhead"> 
                            ({{ post.domain }})
                          </span>

                          <span class="sitebit comhead"> 
                            <a href="{{url_for('action', action_type='delete', post_id=post.id, next=url_for('home', page_num=page_num))}}">Delete</a>
                          </span>

                           <span class="sitebit comhead"> 
                            <a href="{{url_for('action', action_type='read', post_id=post.id, next=url_for('home', page_num=page_num))}}">Mark Read</a>
                          </span>

                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                        </td>
                        <td class="subtext">
                          <span class="score">{{post.score}} points</span> by <a href="{{post.by_link}}">{{post.by}}</a> 
                          <a href="{{post.hn_link}}">{{post.time_string}}</a>                  | 
                          <a href="{{post.hn_link}}">{{post.comment_count}} comments</a>                              
                        </td>
                      </tr>
                      <tr class="spacer" style="height:5px">
                      </tr>
                      
                      <tr class="morespace" style="height:10px">
                      </tr>
                  {% endfor %}

            {% if more_posts %}
              <tr>
                <td colspan="2"></td>
                <td class="title">
                    <a href="{{ url_for('home', page_num=page_num|int + 1) }}" rel="nofollow">More</a>
                </td>

              </tr>

            {% else %}

              <tr>
                <td colspan="2"></td>
                <td class="title">
                    There is are no more posts. :(
                    <br/><button><a href="{{ url_for('home', page_num=1) }}" rel="nofollow">Go Home</a></button>
                </td>

              </tr>

            {% endif %}

        </table>
      </td>
    </tr>
</table></center>


{% endblock %}


{% block js %}

{% endblock %}
